n8n-weekly-dev-summary/weekly_summary_workflow.json
{
  "name": "Weekly Dev Summary — Claude API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Cron (Fri 5PM UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "owner",
              "value": "claude-builders-bounty"
            },
            {
              "name": "repo",
              "value": "claude-builders-bounty"
            },
            {
              "name": "language",
              "value": "EN"
            },
            {
              "name": "webhookUrl",
              "value": "https://discord.com/api/webhooks/REPLACE_ME"
            },
            {
              "name": "lookbackDays",
              "value": "7"
            },
            {
              "name": "maxItems",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "config-set",
      "name": "Config (Set Variables)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/commits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ new Date(Date.now() - $json.lookbackDays * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.maxItems }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "github-commits",
      "name": "Get Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        120
      ],
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CRED_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "since",
              "value": "={{ new Date(Date.now() - $json.lookbackDays * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.maxItems }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "github-issues",
      "name": "Get Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CRED_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/pulls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "={{ $json.maxItems }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "github-prs",
      "name": "Get Closed PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        480
      ],
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CRED_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine commits, closed issues and PRs into a single normalised payload\nconst items = $input.all();\nconst config = items[0]?.json || {};\nconst lookbackDays = Number(config.lookbackDays || 7);\nconst cutoff = new Date(Date.now() - lookbackDays * 24 * 60 * 60 * 1000).toISOString();\n\nconst safeArr = (v) => Array.isArray(v) ? v : [];\nconst commitsRaw  = safeArr(items[1]?.json);\nconst issuesRaw   = safeArr(items[2]?.json);\nconst prsRaw      = safeArr(items[3]?.json);\n\n// GitHub /issues returns PRs as well — exclude them\nconst closedIssues = issuesRaw.filter(i => !i.pull_request);\nconst mergedPRs    = prsRaw.filter(p => p.merged_at && p.merged_at >= cutoff);\n\nconst formatCommit = c => ({\n  hash:    (c.sha || '').substring(0, 7),\n  message: (c.commit?.message || '').split('\\n')[0].slice(0, 200),\n  author:  c.commit?.author?.name || c.author?.login || 'unknown',\n  url:     c.html_url || '',\n  date:    c.commit?.author?.date || ''\n});\n\nconst formatIssue = i => ({\n  number:   i.number,\n  title:    i.title,\n  author:   i.user?.login || 'unknown',\n  url:      i.html_url || '',\n  closedAt: i.closed_at || ''\n});\n\nconst formatPR = p => ({\n  number:    p.number,\n  title:     p.title,\n  author:    p.user?.login || 'unknown',\n  url:       p.html_url || '',\n  mergedAt:  p.merged_at || '',\n  additions: p.additions || 0,\n  deletions: p.deletions || 0\n});\n\nreturn [{\n  json: {\n    owner:         config.owner,\n    repo:          config.repo,\n    language:      config.language || 'EN',\n    webhookUrl:    config.webhookUrl,\n    lookbackDays,\n    weekEnding:    new Date().toISOString().split('T')[0],\n    windowStart:   cutoff,\n    commits:       commitsRaw.map(formatCommit),\n    closedIssues:  closedIssues.map(formatIssue),\n    mergedPRs:     mergedPRs.map(formatPR),\n    stats: {\n      totalCommits:      commitsRaw.length,\n      totalIssuesClosed: closedIssues.length,\n      totalPRsMerged:    mergedPRs.length\n    }\n  }\n}];"
      },
      "id": "merge-data",
      "name": "Merge & Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApi?.apiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are an engineering lead writing a concise weekly narrative summary for a GitHub repository. Highlight: top contributors, areas of focus, themes, and any notable trends. Use a narrative tone, not a bullet list. Keep it under 350 words. Write in {{ $json.language || 'EN' }}.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a weekly development summary for the repository **{{ $json.owner }}/{{ $json.repo }}** for the week ending {{ $json.weekEnding }}.\\n\\n## Stats\\n- Commits this week: {{ $json.stats.totalCommits }}\\n- Issues closed: {{ $json.stats.totalIssuesClosed }}\\n- PRs merged: {{ $json.stats.totalPRsMerged }}\\n\\n## Commits\\n{{ $json.commits.map(c => '- `' + c.hash + '` ' + c.message + ' — ' + c.author ).join('\\\\n') }}\\n\\n## Issues closed\\n{{ $json.closedIssues.map(i => '- #' + i.number + ' ' + i.title + ' (opened by ' + i.author + ')' ).join('\\\\n') }}\\n\\n## PRs merged\\n{{ $json.mergedPRs.map(p => '- #' + p.number + ' ' + p.title + ' (by ' + p.author + ', +' + p.additions + '/-' + p.deletions + ')' ).join('\\\\n') }}\\n\\nWrite a narrative weekly summary highlighting key themes, top contributors, and any trends you observe. If there is no activity, say so explicitly. Do not invent any data.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "claude-api",
      "name": "Claude API — Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CRED_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the assistant text and wrap it in a Discord-friendly markdown report\nconst resp = $input.first().json || {};\nconst body = resp.body || resp;\n\nlet narrative = '';\nif (Array.isArray(body?.content)) {\n  for (const block of body.content) {\n    if (block?.type === 'text' && block.text) { narrative += block.text; }\n  }\n} else if (typeof body?.content?.[0]?.text === 'string') {\n  narrative = body.content[0].text;\n} else if (typeof body?.content === 'string') {\n  narrative = body.content;\n} else {\n  narrative = JSON.stringify(body);\n}\n\nconst data = $('Merge & Format Data').first().json;\nconst repo = data.owner + '/' + data.repo;\n\n// Truncate for Discord (max 2000 chars per message — use 1900 to be safe)\nconst summary =\n  '📬 **Weekly Dev Summary — ' + repo + '**\\n' +\n  '_Week ending ' + data.weekEnding + '_\\n\\n' +\n  '**Stats** — ' + data.stats.totalCommits + ' commits · ' +\n  data.stats.totalIssuesClosed + ' issues closed · ' +\n  data.stats.totalPRsMerged + ' PRs merged\\n\\n' +\n  narrative.slice(0, 1900);\n\nreturn [{ json: { summary, webhookUrl: data.webhookUrl } }];"
      },
      "id": "extract-summary",
      "name": "Format Discord Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.summary) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-discord",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Weekly Cron (Fri 5PM UTC)": {
      "main": [
        [
          {
            "node": "Config (Set Variables)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config (Set Variables)": {
      "main": [
        [
          {
            "node": "Get Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closed Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closed PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commits": {
      "main": [
        [
          {
            "node": "Merge & Format Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Closed Issues": {
      "main": [
        [
          {
            "node": "Merge & Format Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Closed PRs": {
      "main": [
        [
          {
            "node": "Merge & Format Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge & Format Data": {
      "main": [
        [
          {
            "node": "Claude API — Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API — Generate Summary": {
      "main": [
        [
          {
            "node": "Format Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Discord Message": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "versionId": "1.1.0",
  "id": "weekly-dev-summary-workflow",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": [
    {
      "name": "claude"
    },
    {
      "name": "github"
    },
    {
      "name": "weekly-summary"
    }
  ]
}
